@charset "UTF-8";
@import url(../css/font.css);

/* 비주얼 */

#visual {
    position: relative;
    width: 100%;
}

#visual img {
    width: 100%;
    display: block;
}

#visual::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(7, 28, 56, 0.7);
}

#visual .text_box {
    position: absolute;
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#visual .text_box .text1 {
    font-size: 50px;
    color: #fff;
    font-family: 'Pretendard-SemiBold';
    line-height: 70px;
}

#visual .text_box .text2 {
    font-size: 40px;
    color: #fff;
    font-family: 'Pretendard-Medium';
}

#visual .text_box .text3 {
    margin-top: 50px;
    font-size: 30px;
    color: #fff;
    font-family: 'Pretendard-Medium';
}

/* 섹션1 */

#section_box .section1 {
    margin-top: 150px;
}

#section_box h1 {
    position: relative;
    display: flex;
    justify-content: center;
}

#section_box h1::before {
    content: "";
    position: absolute;
    opacity: 30%;
    margin-top: 52px;
    border-bottom: 2px solid #093E6D;
    width: 125px;
}

#section_box .section1 .content_box {
    padding: 100px 0;
    background: #F0F8FD;
    margin-top: 80px;
}

#section_box .section1 .content_box .text {
    font-size: 22px;
    line-height: 35px;
}

#section_box .section1 .content_box .text .highlight {
    font-weight: 800;
}

/* 섹션2 */

#section_box .section2 .centerbox {
    position: relative;
}

#section_box .section2 h1 {
    margin-top: 150px;
}

#section_box .section2 .btn_box {   
    position: absolute;
    width: 140px;
    height: 60px;
    border: 1px solid #333;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -125px;
    right: 0px;
    font-size: 18px;
}

#section_box .section2 .btn_box a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

#section_box .section2 .btn_box a:hover {
    background: #093E6D;
    color: #fff;
    transition: 0.3s;
}

.section2 .centerbox .content_box {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.section2 .centerbox .content_box ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0;
    list-style: none;
}

.section2 .centerbox .content_box ul li {
    /* width: 500px; */
    min-height: 300px;
    height: auto;
    border: 1px solid #777;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
}

.section2 .centerbox .content_box li h2 {
    font-size: 24px;
}

.section2 .centerbox .content_box li .tit {
    font-size: 18px;
}

.section2 .centerbox .content_box li .date {
    color: #777;
    font-size: 16px;
}

/* 섹션3 */

#section_box .section3 h1 {
    margin-top: 150px;
}

.section3 .centerbox {
    position: relative;
}

.section3 .centerbox .content_box {
    margin-top: 80px;
}

#section_box .section3 .btn_box {   
    position: absolute;
    width: 140px;
    height: 60px;
    border: 1px solid #333;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -125px;
    right: 0px;
}

#section_box .section3 .btn_box a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

#section_box .section3 .btn_box a:hover {
    background: #093E6D;
    color: #fff;
    transition: 0.3s;
}

.section3 .content_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.section3 .content_box a {
    display: block;
}

.section3 .content_box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
